<h1>Admin::Dashboard#show</h1>
<div class="order-summary jumbotron">
    <h4>Product Count: <%= @products %> in total</h4>
    <h4>Category Count: <%= @category %> in total</h4>    
<div class="panel panel-default items">
